<div class="columns">
  <div class="column home1">
   
    <h1>Connect with friends and the <br />world around you on Mambo.</h1>
    <div class="intro">
        <%= image_tag 'image-front1.png', class: 'pic' %>
        <span><b>See photos and updates</b> from friends in News Feed.</span>
    </div>

    <div class="intro">
        <%= image_tag 'image-front2.png', class: 'pic' %>
        <span><b>Share what's new</b> in your life on your Timeline.</span>
    </div>

    <div class="intro">
        <%= image_tag 'image-front3.png', class: 'pic' %>
        <span><b>Find more</b> of what you're looking for with Mambo Search.</span>
    </div>
  </div>
  

  <div class="column home2">
    <h1>Sign Up</h1>
    <h2>It's fast and easy!.</h2><br />

    <%= render 'loginuser' %>
  </div>

</div>
