<div class="columns">
  <div class="column is-one-quarter">
    <%= render 'users/user_info', user: current_user %>
  </div>

  <div class="column is-three-quarters">
   <%= @users %>
  </div>

</div>