<div class="column">
<nav class="panel">
<p class="panel-heading">Friend Requests</p>
</nav>
<div class="panel-block">
<article class="media">
<div class="media-left">
<figure class="image is-32x32">


</figure>
</div>
<div class="media-content">
<div class="content">
<p>
<strong>Peter Kamala</strong>
<small>@ricohombre</small>
</p>
</div>
</div>
</article>
</div>

<div class="panel-block">
<article class="media">
<div class="media-left">
<figure class="image is-32x32">


</figure>
</div>
<div class="media-content">
<div class="content">
<p>
<strong>Jesse Bukambu</strong>
<small>@jessejean567</small>
</p>
</div>
</div>
</article>
</div>
<div class="panel-block">
<article class="media">
<div class="media-left">
<figure class="image is-32x32">


</figure>
    </div>
    <div class="media-content">
    <div class="content">
    <p>
    <strong>Abel Lukambuzi</strong>
    <small>@maestro</small>
    </p>
    </div>
    </div>
    </article>
    </div>
</div>