<div class="column">
    <nav class="panel">
        <p class="panel-heading">Users</p>
    </nav>
    
    <div class="panel-block">
        <article class="media">
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong>
                            <%= link_to "Find friends", users_path %>
                        </strong>
                    </p>
                </div>
            </div>
        </article>
    </div>
</div>