
<section class="section">
  <div class="container">
    <div class="columns">
     <% if user_signed_in? %>
      <%= render 'profile' %>
     <% else %>
      <%= redirect_to root_path %>
     <% end %>
      <%= render 'feed' %>
      <%= render 'who-to-follow' %>
    </div>
  </div>
</section>