// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.user-space {
    width: 200px;
    margin: 15px;
}

.myspace {
    padding: 30px;
}

.myuserspace {
    width: 250px;
    padding: 20px;
}